<div class='formmm' align="center">
  <h3>Formulaire de contact</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :nom, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div >
      </br>
      <%= f.button :submit, 'Envoyer le message', :class=> "btn btn-primary" %>
    </div>	
  <% end %>
</div>

</div>
